.col-sm-12-label{
	width:80%;
}

.tab {

	text-align: center;
  padding-top: 50px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 70%;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  -webkit-font-smoothing: antialiased;
	padding-top:10%;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.tabs li {
  float: left;
  line-height: 15px;
  overflow: hidden;
  padding: 0;
  position: relative;
  margin-right: 1%;
}
.tabArrow_second{
	display: none;
}
.tabArrow{
	color: lightgreen ;
}
.targetArrow{

	color:#fc7d7d;
}
.tabTitle{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	line-height: 10px;
	vertical-align: 15px;
	height: 30px;
}
.tabs a {
	height: 60px;
	width: 120px;
	position: relative;
	text-align: center;
  background-color: transparent;
  color: lightgreen;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 40px;
	font-size:85%;
  text-decoration: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
	border:1px solid lightgreen;
}

.tabs .target{
	color:#fc7d7d;
	border:1px solid #fc7d7d;
}

.current .target{
	color:white;
	background: #fc7d7d;
	border:1px solid #fc7d7d;
}

.tabs_item {
  display: none;
  padding: 30px 0;
}
.tabs_item h4 {
  font-weight: bold;
  color: blue;
  font-size: 20px;
}
.tabs_item img {
  width: 200px;
	border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.tabs_item:first-child {
  display: block;
}

.current a {
  color: #fff;
	background: lightgreen;
}





.file-input-wrapper {
	margin:auto;
	width: 200px;
	height: 40px;
	overflow: hidden;
	position: relative;
}
.file-input-wrapper > input[type="file"] {
	font-size: 200px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;

}
.file-input-wrapper > .btn-file-input {
	display: inline-block;
	width: 200px;
	height: 40px;
    background: #3DBAD9;
    color: white;
    outline: none;
    border: none;
}

.profileFileUpload{
	cursor:pointer;
}

#uploadedImage{
	max-height:400px;
	max-width:400px;
}

.imageSection{
	margin-bottom:10%;
	margin-top:10%;
	text-align:center;
}




/*
	card design
*/


.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}

.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: 'Yesteryear', cursive;
  font-weight: 500;
  line-height: 1.1;
}

.cards {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}


.card:hover .card__inner {

  -webkit-animation: grow 3s infinite linear;
}

.scorePoint{
	position: absolute;
    bottom: 0;
    right: 0;
	margin-right:3%;
	font-size:110%;
}

.achievementIconImg{

	width:150px !important;
	height: 150px !important;
}

.card__inner {
	margin-bottom: 15%;
  width: 100%;
	height: 200px;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: gray;
  font-size: 1.5em;
  text-align: center;
  font-size:120%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card__inner:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card__inner .fa {
  width: 100%;
  margin-top: .25em;
}

.card__expander {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
	border:1px solid lightgray;
  color: #707a89;
  font-size: 100%;
}

.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__expander .fa:hover {
  opacity: 0.9;
}

.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}

.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}



.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid gainsboro;
}

.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}

.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}

.card.is-expanded:hover .card__inner {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}

.card.is-inactive:hover .card__inner {

  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  .card:nth-of-type(3n+4) {
    clear: left;
  }
  .card__expander {
    width: calc(300% + 60px);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(2n+3) {
    clear: left;
  }
  .card__expander {
    width: calc(200% + 30px);
  }
}



@-webkit-keyframes grow {
   0%{
		 -webkit-transform: scale(1.00);
   }
	 25%{
		-webkit-transform: scale(1.08);

	 }
	 50%{
		 -webkit-transform: scale(1.00);
	 }
   75%{
	  -webkit-transform: scale(0.92);
   }

   100{
		-webkit-transform: scale(1.00);
   }
}
