
.loader img{
	z-index: -1;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	margin:auto;
	width:80%;
	-webkit-animation: beat 1s infinite linear;

}

.loader-label{
    margin-top: 10%;
}


@-webkit-keyframes fly {
   0%{
	   margin-left:-130%;

   }
   80%{
	   margin-left:60%;
   }
   100%{
	margin-left:-130%;
   }
}



@-webkit-keyframes beat {
   0%{
	   width: 80%;

   }
   75%{
	    width: 90%;
   }
   80%{
	    width:100%;
   }
   100{
		width: 80%;
   }
}

.popout {
	margin:0;
	border-radius:0px !important;
	top:0;
	background: #fff;
	border-radius: 5px;
	width: 100%;
	height:100%;
	position: relative;
	padding-right:0;

}
.box{
	width: 100%;
}
